/* font family */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Barlow:wght@300&family=Patrick+Hand&family=Quicksand:wght@700&family=Source+Sans+3:wght@300&display=swap');

/*remove default margin*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EFE1D1;
    font-weight: 300;
}

/* headings, paragraph */

h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    color: #331D2C;
}

p {
    font-family: 'Barlow', sans-serif;
}

/* head section */

#logo {
    width: 75px;
    height: auto;
    float: left;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* navigation links */
.navigation li a {
    display: inline-block;
    text-decoration: none;
    float: right;
    margin-right: 10px;
    color: #331D2C;
    font-weight: bold;
}

.navigation li {
    display: inline-block;
    padding-top: 35px;
}

.navigation #menu {
    text-align: right;
    letter-spacing: 4px;
    font-size: 110%;
    margin-right: 30px;
}

.navigation li a:hover {
    color: #A78295;
}

#menu #logo {
    line-height: 150px;
}

/* section home */
#main {
    height: 600px;
}

#profile-img {
    width: auto;
    height: 600px;
    opacity: .7;
    float: left;
}

#welcome {
    padding-left: 450px;
    padding-top: 150px;
}

#welcome p {
    font-family: 'Patrick Hand',
        'Courier New';
    color: #A78295;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    border: none;
}

#main #welcome {
    float: left;
}

/* section experience */
#experience {
    padding: 1rem;
    margin-bottom: 80px;
    background: url('../images/bokeh-2072271_1920.jpg') center center / cover no-repeat fixed;
}

#experience h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 20px;
}

.inner-box>li {
    word-wrap: break-word;
    padding-right: 20px;
}

.inner-box {
    width: 90%;
    margin: 1rem 0;
    /* display: inline-block; */
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}

hr {
    border-top: 1px solid #331D2C;
    width: 30%;
    margin: 5px 0;
}

#exp1 {
    background-color: #EDC9D2;
    position: relative;
    left: 70px;
    top: -15px;
}

#exp2 {
    background-color: #C2848C;
    position: relative;
    left: 70px;
}

#exp3 {
    background-color: #EDC9D2;
    position: relative;
    left: 70px;
}

section {
    clear: both;
}

/* education section */
#education h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 20px;
}

.edu-box {
    width: auto;
    border: 3px solid #DE3163;
    box-shadow: 9px 6px 4px #5B2C6F;
    padding: 7px 11px;
    background-image: linear-gradient(150deg, #EAFAF1 , #E8DAEF 30%,#E5E8E8 );
    margin: 10px;
    display: inline-block;
    list-style: none;
}

ul strong {
    font-size: large;
}

.edu-box li {
    list-style-type: none;
}



/* skills section */
#skills {
    padding: 1rem;
    margin-bottom: 80px;
    background: url('../images/bokeh-2072271_1920.jpg') center center / cover no-repeat fixed;
}

#skills h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 20px;
}

    /* width: auto;
    border: 3px solid #DE3163;
    box-shadow: 9px 6px 4px #5B2C6F;
    padding: 7px 11px;
    background-image: linear-gradient(150deg, #EAFAF1 , #E8DAEF 30%,#E5E8E8 );
    margin: 10px;
    display: inline-block;
    list-style: none;    */


/* contact me section */
#contact {
    clear: left;
    background-color: #AC8499;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 5%;
    box-sizing: border-box;
}

#contact h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact-me {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 600px; 
}

.contact-form {
    margin: 30px 5% 0 0;
    color: #EDC9D2;
    background-color: #331D2C;
    opacity: .5;
    width: 400px;
    position: absolute;
    left: 10%;
    padding: 10px;
}
#fname, #lname, #email {
    width: 100%;
}
.send-button {
    display: block;
}

.send-button:hover {
    background-color: #EDC9D2;
    color: #3F2E3E;
}

input[type=submit] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    font-size: 100%;
    background-color: #3F2E3E;
    color: #EDC9D2;
    border: none;
    border-radius: 5px;
    border-color: #331D2C;
}

input[type=reset] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #EDC9D2;
    color: #3F2E3E;
    border: 1px solid #3F2E3E;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
}

#p-img {
    max-width: 30px;
    height: auto;
}

.social-networks {
    text-align: left;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    /* margin: 1%; */
    padding: 1%;
    color: #3F2E3E;
}

/* footer */
footer {
    background-color: #3F2E3E;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    clear: both;
    overflow: auto;
}

footer>p {
    color: #A78295;
}

.text-uppercase {
    text-transform: uppercase;
}