/* font family */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Barlow:wght@300&family=Patrick+Hand&family=Quicksand:wght@700&family=Source+Sans+3:wght@300&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EFE1D1;
}

p {
    font-family: 'Barlow', sans-serif;
}

hr {
    border-top: 1px solid #331D2C;
    width: 70%;
    margin: 5px 0;
}

/*-------------------------------------------------------------------  head section */

.logo {
    width: 75px;
    height: auto;
    float: left;
}


/*-------------------------------------------------------------------  navigation links */
.navigation {
    background-color: #331D2C;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    height: 75px;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    color: #EDC9D2;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 22px 16px;
    display: inline-block;
    float: right;
    /* letter-spacing: 2px; */
}

.navigation ul {
    text-align: right;
}

.navigation a:hover {
    color: #331D2C;
    background-color: #EDC9D2;
}


/*-------------------------------------------------------------------  section home */
/* creates the level of zoom for hero image */
/* @keyframes welcome-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
} */


/* animates zoom effect on loading page */
/* animation-name: welcome-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; */

.home-section {
    padding: 5rem 0;
    height: auto;
    margin-bottom: 80px;
}

#profile-img {
    width: 100%;
    opacity: .7;
    float: left;
    height: auto;
}

#welcome div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section h3 {
    font-family: 'Patrick Hand',
        'Courier New';
    color: #A78295;
    font-size: x-large;
    letter-spacing: 2px;
    text-align: center;

}

.home-section h1 {
    font-family: 'Patrick Hand',
        'Courier New';
    color: #A78295;
    font-size: x-large;
    letter-spacing: 2px;
    text-align: center;

}

.one-third-width-column {
    width: 33.33%;

}

.two-thirds-width-column {
    width: 66.66%;

}

.vertical-center {
    position: absolute;
    top: 50%;
}



/*-------------------------------------------------------------------  section experience */
.experience-section {
    padding: 5rem 0;
    margin-bottom: 40px;
    background: url('../images/bokeh-2072271_1920.jpg') center center / cover no-repeat fixed;
    margin-top: 60px;
    margin-bottom: 80px;
}

.experience-section h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    color: #331D2C;
}

.experience-section h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 20px;

}

.inside {
    word-wrap: break-word;
    padding-left: 40px;
}

.inner-box {
    width: 90%;
    margin: 1rem 0;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#experience1 {
    background-color: #EDC9D2;
    margin: auto;
    width: 90%;
    padding: 10px;
}

#experience2 {
    background-color: #C2848C;
    margin: auto;
    width: 90%;
    padding: 10px;
}

#experience3 {
    background-color: #EDC9D2;
    margin: auto;
    width: 90%;
    padding: 10px;
}

section {
    clear: both;
}

/*-------------------------------------------------------------------  education section */
.education-section {
    padding: 5rem 0;
    margin-bottom: 80px;
    display: grid;
    place-items: center;
}

.education-section h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    color: #331D2C;
}

.education-section h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 30px;
}

.education-box {
    /* width: 600px; */
    border: 3px solid #331D2C;
    box-shadow: 9px 6px 4px #A78295;
    padding: 10px;
    background-image: linear-gradient(150deg, #EAFAF1, #E8DAEF 30%, #E5E8E8);
    margin: 10px;
    display: block;
    list-style: none;
}

div .education-box {
    justify-content: center;
    width: auto;
    align-items: center;
}

ul strong {
    font-size: large;
}

.education-box li {
    list-style-type: none;
    text-align: center;
}

.education-box ul {
    padding: 0;
}



/*-------------------------------------------------------------------  skills section */
.skills-section {
    padding: 5rem 0;
    margin-bottom: 80px;
    background: url('../images/bokeh-2072271_1920.jpg') center center / cover no-repeat fixed;
}

.skills-section h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    color: #331D2C;
}

.skills-section h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 20px;
}

.skills-section h2 {
    letter-spacing: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#expertise {
    background: rgba(194, 132, 140, .6);
    width: 100%;
    padding: 5px;
    text-align: center;
}

div .skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    display: inline-flex;
}

.skill-box {
    border-radius: 25px;
    background: #9A6C81;
    width: 210px;
    height: 65px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 10px;

}

#language ul {
    list-style-type: none;
    padding-left: 20px;
}

/* tech and human language */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
#language:after {
    content: "";
    display: table;
    clear: both;
}

.human-language {
    background-color: #C2848C;
}

.tools {
    background-color: #C2848C;
}

/*tool grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2px;
    background-color: #C2848C;
    padding: 1px;
}

.grid-container>div {
    background-color: rgba(194, 132, 140, .6);
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    font-family: inherit;
}

.human-language-tools-box {
    margin-top: 20px;
    background: rgba(194, 132, 140, .6);
    width: 100%;
    text-align: left;
    display: block;
    padding: 5px;
}

/* computer skills*/
.tech-languages {
    margin-top: 20px;
    background: rgba(194, 132, 140, .6);
    width: 100%;
    text-align: left;
    display: block;
    padding: 5px;
}

.wrapper {
    width: auto;
    padding: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #EDC9D2;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #3F2E3E;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

.progress-bar span {
    color: #EDC9D2;
}


/*-------------------------------------------------------------------  contact me section */
.contact-section h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    color: #331D2C;
}

.contact-section {
    padding: 1rem 0;
    margin-bottom: 80px;

    clear: left;
    background-color: #AC8499;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}

.contact-section h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact-me {
    display: block;
    width: auto;
}

/* Create two equal columns that sits next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.contact-me:after {
    content: "";
    display: table;
    clear: both;
}

.contact-form {
    color: #EDC9D2;
    background-color: #331D2C;
    opacity: .5;
    width: 90%;
    padding: 14px;
}


#fname,
#lname,
#email,
#message {
    width: 100%;
}

.send-button:hover {
    background-color: #EDC9D2;
    color: #3F2E3E;
}

input[type=submit] {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 0.75rem;
    font-size: 100%;
    background-color: #3F2E3E;
    color: #EDC9D2;
    border: none;
    border-radius: 5px;
    border-color: #331D2C;
}

input[type=reset] {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0.75rem;
    background-color: #EDC9D2;
    color: #3F2E3E;
    border: 1px solid #3F2E3E;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    float: right;
}

input[type=submit],
input[type=reset] {
    display: inline-block;
}

#profile-image {
    width: 100%;
    /* height: auto; */
    margin-bottom: 10px;
}

#personal-information h3 {
    font-size: medium;
}

#personal-information h2 {
    font-size: x-large;
    text-transform: uppercase;
}

.social-networks {
    text-align: left;
    padding: 0;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 1%;
    color: #3F2E3E;
}

/*-------------------------------------------------------------------  footer */
footer {
    background-color: #3F2E3E;
    padding: 1em;
    text-align: center;
    width: auto;
    bottom: 0;
    right: 0;
    z-index: 3;
    clear: both;
    overflow: auto;
}

footer>p {
    color: #A78295;
}

.text-uppercase {
    text-transform: uppercase;
}


/*For large to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    /* ---------- home-section  ----------*/
    #welcome p {
        font-size: x-large;
    }

    .vertical-center {
        top: 15%;
        /* margin: auto; */
    }

    .two-thirds-width-column {
        display: inline-flex;
    }

    /* ---------- skills-section  ----------*/
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        font-size: small;
    }

    .grid-container div {
        font-size: small;
    }

    .human-language li {
        font-size: small;
        font-weight: normal;
    }

    #language h2 {
        font-size: large;
    }
}

/*For screen size from 800px wide and down */
@media screen and (max-width: 800px) {

    .experience-section {
        margin-top: 0;
    }

    .home-section,
    .experience-section,
    .education-section,
    .skills-section,
    .contact-section {
        margin-bottom: 10px;
    }

    .experience-section h1,
    .education-section h1,
    .skills-section h1,
    .contact-section h1 {
        font-size: large;
    }

    .experience-section h2,
    .education-section h2,
    .skills-section h2,
    .contact-section h2 {
        font-size: medium;
    }

    .logo {
        display: none;
    }

    .navigation {
        height: auto;
    }

    .navigation ul {
        text-align: left;
        padding: 0;
    }

    .navigation li a {
        font-size: small;
        padding: 3px;
        display: inline;
        float: left;
    }

    /*Home section*/
    .home-section {
        padding-top: 4%;
    }

    #welcome {
        width: auto;
        display: inline-block;
        float: none;
        padding-top: 40px;
    }

    #welcome p {
        font-size: medium;
    }

    .vertical-center {
        position: absolute;
    }

    .two-thirds-width-column {
        width: 60%;
    }
}

/*For screen size from 550px wide and down */
@media screen and (max-width: 550px) {
    /*home section*/

    #profile-img {
        display: none;
    }

    #welcome p {
        font-size: small;
    }

    .column {
        width: 100%;
    }

    .contact-form {
        width: 100%;
        padding: 8px;
    }


    #fname,
    #lname,
    #email,
    #message {
        width: 100%;
    }

    input[type=reset] {
        margin-left: 20px;
        margin-top: 0;
        float: none;
    }
}